body,
html {
margin:0;
padding:0;
color:#000;
background:whitesmoke;
}

#body {
width:900px;
margin:15px auto;
background-color:whitesmoke;}

#header {
	text-align:center;
	color: steelblue;
	font-weight: 900;
}

#footer {
	text-align:right;
	}

li{
	text-align:center;
	font-size:120%}
}