
body,
html {
font-family: Helvetica,Arial,sans-serif;;
min-width: 600px;
margin: auto;
background-color: #3c3c3c;
}
#Wrapper{
	background:url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52b6b4db7397c_1.JPG); 
	background-repeat:no-repeat;
	background-size: 100%;
	height: 900px;


	}

#Content{
	background-color:rgba(60,60,60,0.85); 
	width:100%; 
	height:100%;
	}
#Text{
	max-width: 700px;
	margin: auto;
	color: #3e6d92;
	}

header{
	width: 100%;
	height: 80px;
	position: relative;
	font-family:Helvetica,Arial,sans-serif;;
	font-size: 15px;
	letter-spacing: .15em;	
	line-height:80px;
	background-color: #3c3c3c;
	font-weight:700;
	}

#logo{float:left;
	padding-left: 1em;
	padding-right: 1em;}

nav ol {
	margin: 0px;
	padding: 0px;
}

nav li {
	margin: 0px 0px;
	padding: 0;
	list-style: none;
	display: inline-block;
	width: 10%;
	float: right;
	text-align: center;
	border-left: 0px solid #3c3c3c;
	text-transform: uppercase;
	transition: color .3s;
}

nav a:link{text-decoration: none;
				color:#ffffff;}
nav a:visited{color:#ffffff;}
nav a:hover {
	color: #3e6d92;
}

footer{

	width: 100%;
	height: 30px;
	line-height:30px;
	background-color: #3c3c3c;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	
	}

.title{
	font-weight:bold;
	text-align: center;
	color:#ffffff;
	}